@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
:root::-webkit-scrollbar {
  display: none;
}

:root {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* :root {
  background-color: #0a0a0a;
  color: white;
}

.bg-dark {
  background-color: #0a0a0a;
} */

/* .nav-color {
  color: white;
} */
